@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

li {
    list-style: none;
}

body {
    border-radius: 30px;
}

.body {
    border: 4px solid #FFFFFF;
    background: #FFEBC1;
    border-radius: 30px;
    padding: 3rem 5rem;
}


/*--------------------------
        Header
---------------------------*/

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

header ul li.active {
    color: #FF6300;
}


/*---- search ----*/

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ffae5170 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 90% center;
    border: 2px solid #00000048;
    padding: 9px 40px 9px 17px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 200px;
    background-color: #ffae5170;
    border-color: #ff62006b;
    -webkit-box-shadow: 0 0 5px #ff6200a8;
    -moz-box-shadow: 0 0 5px #ff6200a8;
    box-shadow: 0 0 5px #ff6200a8;
}

input:-moz-placeholder {
    color: #000000b6;
}

input::-webkit-input-placeholder {
    color: #000000b6;
}


/*-------------------------------
        Main
--------------------------------*/

main {
    margin: 0 10%;
    margin-top: 3rem;
}

main .platform {
    padding: 2rem 4rem;
    width: 100%;
    background: linear-gradient(262.01deg, #FEAD50 17.36%, #FDBC0B 50.14%, #FFC000 73.39%, #FDC83C 88.71%, #FFDB7A 98.65%);
    box-shadow: 0px 4px 4px #FFAE51;
    border-radius: 30px;
    padding-bottom: 0;
    margin-bottom: 6rem;
}

main .platform .top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

main .platform .top .keyword {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;
}

main .platform .top .platform-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
}

main .platform .top .see-more {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

main .platform .top .see-more a {
    color: black;
}


/*--------Item----------*/

main .platform .results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
    transform: translateY(2rem);
}

main .platform .results .item {
    width: 100%;
    background-image: url('images/components/dot-grid\ 2.png');
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

main .platform .results .item .image {
    display: flex;
    align-items: center;
    height: 12rem;
    padding-top: 1rem;
    width: 100%;
}

main .platform .results .item .image img {
    width: 100%;
}

main .platform .results .item .image a {
    margin: auto;
}

main .platform .results .item .image:hover {
    cursor: pointer;
}

main .platform .results .item .image:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}

main .platform .results .item .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

main .platform .results .item .price {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0 15%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    background: #C4C4C4;
    opacity: 0.5;
    border-radius: 0px 0px 30px 30px;
}

footer {
    border-radius: 30px;
    padding: 10px;
    background: linear-gradient(262.01deg, #FEAD50 17.36%, #FDBC0B 50.14%, #FFC000 73.39%, #FDC83C 88.71%, #FFDB7A 98.65%);
}

footer .footer {
    background: #FFEBC1;
    border-radius: 30px;
    padding: 2rem 5rem;
    padding-bottom: 0;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .left a {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.footer .left a:hover {
    text-shadow: 1px 1px 2px #000000;
    transition: 0.5s;
}

.footer .row .right {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    color: #504B4B;
    text-align: center;
}

.footer .row .right p:last-child {
    color: #767676;
}

.footer .row form {
    background: #FFD75E;
    box-shadow: inset 0px -13px 0px rgba(255, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #FFAE51;
}

.footer .row input {
    background: #FFD395;
    border: none;
    border: 2px solid #FFAE51;
    border-radius: 20px;
    padding: 10px 0;
    padding-left: 15px;
}

.footer .row input:focus {
    outline: none;
    background: #fcc880;
    transition: 0.5s;
}

.footer .row input::placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    /* identical to box height */
    color: #000000;
}

.footer .row button {
    background: transparent;
    border: none;
    padding: 10px 1rem;
    font-size: 12px;
    /* identical to box height */
    color: #000000;
}

.footer .row form>button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.048);
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.048);
    color: #cf7b1a;
    transition: 0.5s;
}

footer .copyright {
    width: 100%;
    text-align: center;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: -0.05em;
    color: #504B4C;
}

footer .copyright span {
    font-weight: 600;
}